# EDA

In [2]:


import json
import pandas as pd
import numpy as np

import os

In [3]:
data_train = pd.read_csv('../data/train.csv')
data_test = pd.read_csv('../data/test.csv')

C:\Users\15149\AppData\Local\Temp\ipykernel_28840\505415173.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data_train = pd.read_csv('../data/train.csv')
C:\Users\15149\AppData\Local\Temp\ipykernel_28840\505415173.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data_test = pd.read_csv('../data/test.csv')

In [4]:
data_train.shape, data_test.shape

((1687861, 23), (242076, 23))

In [6]:
data_test.columns

Index(['sku', 'national_inv', 'lead_time', 'in_transit_qty',
       'forecast_3_month', 'forecast_6_month', 'forecast_9_month',
       'sales_1_month', 'sales_3_month', 'sales_6_month', 'sales_9_month',
       'min_bank', 'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder'],
      dtype='object')

```
sku - sku code
national_inv - Current inventory level of component
lead_time - Transit time
in_transit_qtry - Quantity in transit
forecast_x_month - Forecast sales for the net 3, 6, 9 months
sales_x_month - Sales quantity for the prior 1, 3, 6, 9 months
min_bank - Minimum recommended amount in stock
potential_issue - Indictor variable noting potential issue with item
pieces_past_due - Parts overdue from source
perf_x_months_avg - Source performance in the last 6 and 12 months
local_bo_qty - Amount of stock orders overdue
X17-X22 - General Risk Flags
went_on_back_order - Product went on backorder
Validation - indicator variable for training (0), validation (1), and test set (2)
```

In [7]:
data_test.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,3285085,62.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
1,3285131,9.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,Yes,No,No,No
2,3285358,17.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.92,0.95,0.0,No,No,No,Yes,No,No
3,3285517,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.78,0.75,0.0,No,No,Yes,Yes,No,No
4,3285608,2.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.54,0.71,0.0,No,No,No,Yes,No,No

In [10]:
null_counts = data_test.isnull().sum()
columns_with_nulls = null_counts[null_counts > 0]
print(null_counts)

sku                      0
national_inv             1
lead_time            14725
in_transit_qty           1
forecast_3_month         1
forecast_6_month         1
forecast_9_month         1
sales_1_month            1
sales_3_month            1
sales_6_month            1
sales_9_month            1
min_bank                 1
potential_issue          1
pieces_past_due          1
perf_6_month_avg         1
perf_12_month_avg        1
local_bo_qty             1
deck_risk                1
oe_constraint            1
ppap_risk                1
stop_auto_buy            1
rev_stop                 1
went_on_backorder        1
dtype: int64